#Dependency
venv
.env
reports/allure_reports/results
reports/allure_reports/reports
reports/report_dates/
reports/jenkins_results/
reports/html/
reports/allurereports
.ipynb_checkpoints
.idea
**.pyc
**/**.pyc
**/**/**.pyc
**/**/**/**.pyc
tests/step_defs/__pycache__/
tests/__pycache__/
object_repository/pages/__pycache__/
config/__pycache__/
__pycache__/
business_components/__pycache__/
**/__pycache__/
**/**/__pycache__/
config/__pycache__/
reports/allure-report/


/testData/TestData_generated.json
/testData/TestData_generated.xlsx
